/* main */
@use "./base/reset";
@use "./abstracts/variables" as var;


/*Backgrounds*/
body {
    background-image: var.$bg-color;
}

header {
    background-image: var.$bg-header-color;
    box-shadow: inset 0 -6rem rgba(27, 0, 0, 0.8);
}

/*Spacing*/

body {
    // margin-block-start: clamp(2rem, 0.545rem + 7.273vw, 6rem);
    margin-block-start: clamp(2.5rem, -1.029rem + 17.647vw, 10rem);
}

body > * {
    padding-inline: clamp(1rem, -0.818rem + 9.091vw, 6rem);
}

p, li {
    max-width: 55ch;
}

h1 {
    margin-block-end: 3rem;
}

header {
    .container {
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-block-start: -1rem;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

main, aside {
    margin-block-end: clamp(3rem, 2.059rem + 4.706vw, 5rem);
}

main {
    .container {
        margin-block-end: 3rem;
    }
}

h2 {
    padding-block-end: 1.5rem;
}

p {
    padding-block-end: clamp(2rem, -7.5rem + 24vw, 3rem);
}



/* Images */

svg {
    display: inline;
    max-width: 1rem;
    fill: var.$primary-color;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.link-github:hover {
    svg {
        transform: scale(1.4) rotate(-10deg);
    }
}

h2::before {
    content: '✦';
}

header{
    h2::before {
        content: none;
    }
}


/* Colors */
body {
    color: var.$primary-color;
}


/*Typography*/

body {
    font-family: var.$body-text-font;
    line-height: 1.6em;
    font-size: 1.2rem;
}

h1 {
    font-family: var.$big-header-font;
    font-size: clamp(6rem, 3.091rem + 14.545vw, 14rem);
    line-height: 0.7em;
    letter-spacing: -0.3rem;
    text-align: end;
    text-shadow: 4px 3px 0px var.$footer-bg, 9px 8px 0px rgba(0,0,0,0.15);
}

header {
    h2 {
        text-align: end;
        border: none;
        max-width: 100%;
        padding-block-end: clamp(1rem, -0.091rem + 5.455vw, 4rem);
        
    }
    p {
        font-size: 1.2rem;
        text-align: end;
        max-width: 100%;
    }
}

h2, h3, h4 {
    font-family: var.$small-header-font;
    line-height: 1em;
}

h2 {
font-size: clamp(2.5rem, -0.5rem + 8vw, 4rem);
max-width: 50rem;
text-shadow: 3px 2px 0px rgb(26, 7, 7), 5px 3px 0px rgba(0,0,0,0.15);
}

h3, h4 {
    font-size: clamp(1.7rem, 1.279rem + 2.105vw, 2.2rem);
    margin-block: .5rem;
}

header {
    .container {
        a, span, p {
            font-size: 1.2rem;
        }
    }
}

/* Nav */

nav {
    background-color: var.$bg-overlay-light;
    margin-block-end: clamp(2.5rem, 0.382rem + 10.588vw, 7rem);
    ul {
        list-style: none;
        font-family: var.$small-header-font;
        font-size: clamp(1.8rem, 1rem + 4vw, 3.5rem);
        text-shadow: 4px 3px 0px var.$footer-bg, 9px 8px 0px rgba(0,0,0,0.15);
        text-align: center;
        padding-block: clamp(1rem, 0.529rem + 2.353vw, 2rem);
        li {
            display: inline-block;
            line-height: 1.1em;
            padding-block: .8rem;
            transition: transform 200ms ease-in-out;
            a:hover {
                color: var.$primary-color;
            }
            a:visited {
                color: var.$primary-color;
            }

        }
        li a {
            text-decoration: none;
            padding-inline: clamp(0.3rem, 0.065rem + 1.176vw, 0.8rem);
            color: var.$primary-color;
        }
        li:hover {
            transform: scale(1.05) translateY(-0.2rem);
        }
    }
}

/*Links*/
a {
    color: var.$unvisited-color;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.04em;
}

a:hover {
    color: var.$hover-color;
    text-decoration: none;
}

/*Buttons*/

.link-guidelines, .link-downloadcss, .link-downloadhtml, .link-codepen {
    background: var.$bg-overlay;
    text-align: center;
    display: block;
    max-width: clamp(15rem, 7.941rem + 35.294vw, 30rem);
    font-size: clamp(1.1rem, 0.529rem + 2.353vw, 2rem);
    padding: 1.5rem;
    border: 3px solid var.$bg-overlay-light;
    border-radius: 1rem;
    transition: transform 200ms ease-in-out;
    color: var.$primary-color;
    box-shadow: .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
}

.link-guidelines:hover, .link-downloadcss:hover, .link-downloadhtml:hover, .link-codepen:hover {
    background-color: var.$button-hover;
    color: var.$primary-color;
    transform: scale(1.05);
}

.link-guidelines::before, .link-downloadcss::before, .link-downloadhtml::before, .link-codepen::before {
    content:'★';
    padding-inline: .4rem;
}

.link-guidelines::after, .link-downloadcss::after, .link-downloadhtml::after, .link-codepen::after {
    content:'★';
    padding-inline: .4rem;
}

#files {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(13rem, fit-content));
        gap: 1rem;
        h3 {
            grid-column-start: 1;
            grid-column-end: end;
        }
    }
}


/* Skip Link */
.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

// .container > a {
//     text-align: end;
// }


/* Images */

h1::before {
    content: '✨';
    font-size: var.$header-emoji-size;
}

/*Blockquote*/

blockquote {
    background: var.$bg-overlay;
    color: var.$primary-dark;
    max-width: 45ch;
    padding: 2rem;
    margin-block-end: 3rem;
    border-radius: 1rem;
    p {
        padding: 0;
    }
    strong {
        font-weight: bold;
        font-family: var.$small-header-font;
        font-size: 1.7rem;
        color: rgb(255, 255, 255);
        padding-inline-end: .3rem;
    }
}



/*Grid: Modern CSS Spotlight*/

section.container {
    ul {
        text-align: center;
        font-weight: bold;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: .4rem;
        border-radius: 1rem;
        box-shadow: inset -1rem -1rem 1rem rgba(0, 0, 0, 0.3);
        margin-block-end: 2rem;
        background: var.$bg-overlay;
        max-width: 70ch;
        li {
            padding-block: .5rem;
            transition: transform 200ms ease-in-out;
        }
        li:hover{
            background-color: var.$button-hover;
            border-radius: 1rem;
            box-shadow: .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
            transform: scale(1.05);
        }
    }
}

/*Steps to contribute*/

ol {
    li {
        padding: 1rem;

    }
    li::before {
        content: '✦';
    }
}

/*Footer*/
.page-footer {
    background: var.$footer-bg;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    p {
        padding: 0;
        margin-block: 0.7rem;
        max-width: 100vw
    }
    ul {
        // display: flex;
        // justify-content: space-between;
        width:fit-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        gap:10px;
        li {
            // white-space: nowrap;
            // outline: 1px solid red;
            padding-inline-start: 1rem;
            padding-inline-end: 2rem;
        }
            a {
                text-align: center;
            }
        }
    }

    /*Media Queries*/
    @media (prefers-reduced-motion) {
        a:hover {
            transform:none;
            color: var.$primary-color;
        }
        li:hover {
            transform: none;
        }
        }