/* main */
@use "./base/reset";
@use "./abstracts/variables" as var;


/*Backgrounds*/
body {
    background-image: var.$bg-color;
}

header {
    background-image: var.$bg-header-color;
    box-shadow: inset 0 -6rem rgba(27, 0, 0, 0.8);
}

/*Spacing*/

body {
    // margin-block-start: clamp(2rem, 0.545rem + 7.273vw, 6rem);
    margin-block-start: clamp(2.5rem, -1.029rem + 17.647vw, 10rem);
}

body > * {
    padding-inline: clamp(1rem, -0.818rem + 9.091vw, 6rem);
}

p, li {
    max-width: 55ch;
}

h1 {
    margin-block-end: 3rem;
}

header {
    .container {
        display: flex;
        flex-direction: column;
    }
    h1 {
        margin-block-start: -1rem;
    }
    p {
        padding: 0;
        margin: 0;
    }
}

main, aside {
    margin-block-end: clamp(3rem, 2.059rem + 4.706vw, 5rem);
}

main {
    .container {
        margin-block-end: 3rem;
    }
}

h2 {
    padding-block-end: 1.5rem;
}

p {
    padding-block-end: clamp(2rem, -7.5rem + 24vw, 3rem);
}



/* Images */

svg {
    display: inline;
    max-width: 1rem;
    fill: var.$primary-color;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.link-github:hover {
    svg {
        transform: scale(1.3) rotate(-10deg);
    }
}

h2::before {
    content: '✦';
}

header{
    h2::before {
        content: none;
    }
}


/* Colors */
body {
    color: var.$primary-color;
}


/*Typography*/

body {
    font-family: var.$body-text-font;
    line-height: 1.6em;
    font-size: 1.2rem;
}

h1 {
    font-family: var.$big-header-font;
    font-size: clamp(6rem, 3.091rem + 14.545vw, 14rem);
    line-height: 0.7em;
    letter-spacing: -0.3rem;
    text-align: end;
    text-shadow: 4px 3px 0px var.$footer-bg, 9px 8px 0px rgba(0,0,0,0.15);
}

header {
    h2 {
        text-align: end;
        border: none;
        max-width: 100%;
        padding-block-end: clamp(1rem, -0.091rem + 5.455vw, 4rem);
        
    }
    p {
        font-size: 1.2rem;
        text-align: end;
        max-width: 100%;
    }
}

h2, h3, h4 {
    font-family: var.$small-header-font;
    line-height: 1em;
}

h2 {
font-size: clamp(2.5rem, -0.5rem + 8vw, 4rem);
max-width: 50rem;
text-shadow: 3px 2px 0px rgb(26, 7, 7), 5px 3px 0px rgba(0,0,0,0.15);
}

h3, h4 {
    font-size: clamp(1.7rem, 1.279rem + 2.105vw, 2.2rem);
    margin-block: .5rem;
}

header {
    .container {
        a, span, p {
            font-size: 1.2rem;
        }
    }
}

/* Nav */

nav {
    margin-block: 3rem;
    border: 1px solid white;
    ul {
        list-style: none;
        font-family: var.$small-header-font;
        font-size: 2rem;
        text-align: center;
        padding:none;
        li {
            display: inline-block;
            line-height: 1.1em;
            padding-block: .8rem;
            a:hover {
                background-color: var.$bg-overlay-darker;
                color: var.$primary-color;
            }
            a:visited {
                color: var.$primary-color;
            }

        }
        li a {
            text-decoration: none;
            padding: .3rem;
            color: var.$primary-color;
        }
    }
}

/*Links*/
a {
    color: var.$unvisited-color;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: var.$hover-color;
    text-decoration: none;
}

/* Skip Link */
.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.container > a {
    text-align: end;
}


/* Images */

// h2::before {
//     content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='119' height='157' viewBox='0 0 119 157' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M118.611 89.471C96.3667 90.8056 84.2819 92.756 77.0097 99.4287C65.5667 109.797 64.4972 116.675 62.7861 156.814C61.075 116.675 59.8986 109.797 48.5625 99.4287C41.2903 92.756 29.2055 90.8056 6.96111 89.471C29.2055 88.1365 41.2903 86.186 48.5625 79.5133C60.0055 69.1449 61.075 62.2669 62.7861 22.128C64.4972 62.2669 65.6736 69.1449 77.0097 79.5133C84.2819 86.186 96.3667 88.2391 118.611 89.471Z' fill='%23FFE895' fill-opacity='0.7'/%3e%3cpath d='M52.0917 31.0592C41.825 31.6751 36.2639 32.599 32.9486 35.5761C27.7083 40.2983 27.1736 43.4807 26.425 61.9589C25.6764 43.4807 25.1417 40.2983 19.9014 35.5761C16.5861 32.4964 11.025 31.5725 0.758331 31.0592C11.025 30.4432 16.5861 29.5193 19.9014 26.5423C25.0347 21.8201 25.5694 18.6377 26.3181 0.159424C27.0667 18.6377 27.6014 21.8201 32.8417 26.5423C36.2639 29.622 41.825 30.5459 52.0917 31.0592Z' fill='%23FFE895' fill-opacity='0.6'/%3e%3cpath d='M118.611 132.69C114.547 132.895 112.301 133.306 111.018 134.537C108.879 136.488 108.665 137.72 108.451 145.111C108.131 137.72 107.917 136.488 105.885 134.537C104.494 133.306 102.356 132.998 98.2917 132.69C102.356 132.484 104.601 132.074 105.885 130.842C108.024 128.891 108.237 127.659 108.451 120.268C108.772 127.659 108.986 128.891 111.018 130.842C112.301 132.074 114.547 132.484 118.611 132.69Z' fill='%23FFE895' fill-opacity='0.5'/%3e%3c/svg%3e");
//     position: absolute;
//     left: 1rem;
//     transform:scale(0.7);
// }

h1::before {
    content: '✨';
    font-size: var.$header-emoji-size;
}

/*Blockquote*/

blockquote {
    background: var.$bg-overlay;
}



/*Grid: Modern CSS Spotlight*/

section.container {
    ul {
        text-align: center;
        font-weight: bold;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: .2rem;
        border-radius: 1rem;
        box-shadow: inset -1rem -1rem 1rem rgba(0, 0, 0, 0.3);
        margin-block-end: 2rem;
        background: var.$bg-overlay;
        li {
            padding-block: .5rem;
            transition: transform 200ms ease-in-out;
        }
        li:hover{
            background-color: rgba(19, 6, 119, 0.7);
            border: 2px solid rgba(255, 255, 255, 0.3);
            border-radius: 1rem;
            box-shadow: .5rem .3rem .3rem rgba(0, 0, 0, 0.2);
            transform: scale(1.1) translateY(-5px);
        }
    }
}

/*Footer*/
.page-footer {
    background: var.$footer-bg;
    font-size: 1rem;
    line-height: 1.1rem;
    text-align: center;
    padding: 0.5rem;
    p {
        padding: 0;
        margin-block: 0.7rem;
        max-width: 100vw
    }
    ul {
        // display: flex;
        // justify-content: space-between;
        width:fit-content;
        margin-inline: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 230px);
        gap:10px;
        li {
            // white-space: nowrap;
            // outline: 1px solid red;
            padding-inline-start: 1rem;
            padding-inline-end: 2rem;
        }
            a{
                text-align: center;
            }
            a:hover {
                background-color: rgba(10, 240, 229, 0.2);
                text-decoration: none;
               
            }
        }
    }