/* variables */

@use "./functions" as func;

@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Poiret+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$bg-color: floralwhite;
$bg-very-light: func.tint($bg-color, 50%);
$bg-light: func.tint($bg-color, 25%);
$bg-medium: $bg-color;
$bg-dark: func.shade($bg-color, 25%);
$bg-very-dark: func.shade($bg-color, 50%);


$primary-color: rgb(212, 243, 226);
$primary-very-light: func.tint($primary-color, 50%);
$primary-light: func.tint($primary-color, 25%);
$primary-medium: $primary-color;
$primary-dark: func.shade($primary-color, 25%);
$primary-very-dark: func.shade($primary-color, 50%);

/*Link Colors*/
$unvisited-color: rgb(253, 194, 178);
$hover-color: rgb(124, 243, 247);
$visited-color: rgb(171, 182, 251);


/* Fonts */
$accent-font: 'Poiret One', cursive;
$general-header-font: 'Poiret One', cursive;
$body-text-font: 'Figtree', sans-serif;
$big-header-font: 'Galada', cursive;
$small-header-font: 'Courgette', cursive;
