/* variables */

@use "./functions" as func;

@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Poiret+One&display=swap');

$bg-color: floralwhite;
$bg-very-light: func.tint($bg-color, 50%);
$bg-light: func.tint($bg-color, 25%);
$bg-medium: $bg-color;
$bg-dark: func.shade($bg-color, 25%);
$bg-very-dark: func.shade($bg-color, 50%);


$primary-color: midnightblue;
$primary-very-light: func.tint($primary-color, 50%);
$primary-light: func.tint($primary-color, 25%);
$primary-medium: $primary-color;
$primary-dark: func.shade($primary-color, 25%);
$primary-very-dark: func.shade($primary-color, 50%);


/* Fonts */
$accent-font: 'Poiret One', cursive;
$general-header-font: 'Poiret One', cursive;
$body-text-font: 'Figtree', sans-serif;
