@charset "UTF-8";
/* variables */
@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Galada&family=Courgette&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* functions */
/*Background Colors*/
/*Link Colors*/
/* Fonts */
/*Font Size*/
/* main */
/*Backgrounds*/
body {
  background-image: radial-gradient(circle at 67% 83%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(38, 135, 130), rgb(38, 7, 90));
}

header {
  background-image: radial-gradient(circle at 67% 83%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(42, 219, 205), rgb(51, 13, 112));
  box-shadow: inset 0 -6rem rgba(27, 0, 0, 0.8);
}

/*Spacing*/
body {
  margin-block-start: clamp(2.5rem, -1.029rem + 17.647vw, 10rem);
}

body > * {
  padding-inline: clamp(1rem, -0.818rem + 9.091vw, 6rem);
}

p, li {
  max-width: 55ch;
}

h1 {
  margin-block-end: 3rem;
}

header .container {
  display: flex;
  flex-direction: column;
}
header h1 {
  margin-block-start: -1rem;
}
header p {
  padding: 0;
  margin: 0;
}

main, aside {
  margin-block-end: clamp(3rem, 2.059rem + 4.706vw, 5rem);
}

main .container {
  margin-block-end: 3rem;
}

h2 {
  padding-block-end: 1.5rem;
}

p {
  padding-block-end: clamp(2rem, -7.5rem + 24vw, 3rem);
}

/* Images */
svg {
  display: inline;
  max-width: 1rem;
  fill: rgb(242, 239, 223);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.link-github:hover svg {
  transform: scale(1.4) rotate(-10deg);
}

h2::before {
  content: "✦";
}

header h2::before {
  content: none;
}

/* Colors */
body {
  color: rgb(242, 239, 223);
}

/*Typography*/
body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6em;
  font-size: 1.2rem;
}

h1 {
  font-family: "Galada", cursive;
  font-size: clamp(6rem, 3.091rem + 14.545vw, 14rem);
  line-height: 0.7em;
  letter-spacing: -0.3rem;
  text-align: end;
  text-shadow: 4px 3px 0px rgba(26, 7, 7, 0.9), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

header h2 {
  text-align: end;
  border: none;
  max-width: 100%;
  padding-block-end: clamp(1rem, -0.091rem + 5.455vw, 4rem);
}
header p {
  font-size: 1.2rem;
  text-align: end;
  max-width: 100%;
}

h2, h3, h4 {
  font-family: "Courgette", cursive;
  line-height: 1em;
}

h2 {
  font-size: clamp(2.5rem, -0.5rem + 8vw, 4rem);
  max-width: 50rem;
  text-shadow: 3px 2px 0px rgb(26, 7, 7), 5px 3px 0px rgba(0, 0, 0, 0.15);
}

h3, h4 {
  font-size: clamp(1.7rem, 1.279rem + 2.105vw, 2.2rem);
  margin-block: 0.5rem;
}

header .container a, header .container span, header .container p {
  font-size: 1.2rem;
}

/* Nav */
nav {
  background-color: rgba(27, 242, 192, 0.15);
  margin-block-end: clamp(2.5rem, 0.382rem + 10.588vw, 7rem);
}
nav ul {
  list-style: none;
  font-family: "Courgette", cursive;
  font-size: clamp(1.8rem, 1rem + 4vw, 3.5rem);
  text-shadow: 4px 3px 0px rgba(26, 7, 7, 0.9), 9px 8px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding-block: clamp(1rem, 0.529rem + 2.353vw, 2rem);
}
nav ul li {
  display: inline-block;
  line-height: 1.1em;
  padding-block: 0.8rem;
  transition: transform 200ms ease-in-out;
}
nav ul li a:hover {
  color: rgb(242, 239, 223);
}
nav ul li a:visited {
  color: rgb(242, 239, 223);
}
nav ul li a {
  text-decoration: none;
  padding-inline: clamp(0.3rem, 0.065rem + 1.176vw, 0.8rem);
  color: rgb(242, 239, 223);
}
nav ul li:hover {
  transform: scale(1.05) translateY(-0.2rem);
}

/*Links*/
a {
  color: rgb(248, 252, 136);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.04em;
}

a:hover {
  color: rgb(124, 243, 247);
  text-decoration: none;
}

/*Buttons*/
.link-guidelines, .link-downloadcss, .link-downloadhtml, .link-codepen {
  background: rgba(35, 11, 11, 0.5);
  text-align: center;
  display: block;
  max-width: clamp(15rem, 7.941rem + 35.294vw, 30rem);
  font-size: clamp(1.1rem, 0.529rem + 2.353vw, 2rem);
  padding: 1.5rem;
  border: 3px solid rgba(27, 242, 192, 0.15);
  border-radius: 1rem;
  transition: transform 200ms ease-in-out;
  color: rgb(242, 239, 223);
  box-shadow: 0.5rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
}

.link-guidelines:hover, .link-downloadcss:hover, .link-downloadhtml:hover, .link-codepen:hover {
  background-color: rgba(19, 6, 119, 0.7);
  color: rgb(242, 239, 223);
  transform: scale(1.05);
}

.link-guidelines::before, .link-downloadcss::before, .link-downloadhtml::before, .link-codepen::before {
  content: "★";
  padding-inline: 0.4rem;
}

.link-guidelines::after, .link-downloadcss::after, .link-downloadhtml::after, .link-codepen::after {
  content: "★";
  padding-inline: 0.4rem;
}

#files .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, fit-content));
  gap: 1rem;
}
#files .container h3 {
  grid-column-start: 1;
  grid-column-end: end;
}

/* Skip Link */
.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* Images */
h1::before {
  content: "✨";
  font-size: calc(clamp(5.5rem, clamp(5.5rem, 2rem + 13vw, 10em), 20vh) - 2rem);
}

/*Blockquote*/
blockquote {
  background: rgba(35, 11, 11, 0.5);
  color: #cecbbe;
  max-width: 45ch;
  padding: 2rem;
  margin-block-end: 3rem;
  border-radius: 1rem;
}
blockquote p {
  padding: 0;
}
blockquote strong {
  font-weight: bold;
  font-family: "Courgette", cursive;
  font-size: 1.7rem;
  color: rgb(255, 255, 255);
  padding-inline-end: 0.3rem;
}

/*Grid: Modern CSS Spotlight*/
section.container ul {
  text-align: center;
  font-weight: bold;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.4rem;
  border-radius: 1rem;
  box-shadow: inset -1rem -1rem 1rem rgba(0, 0, 0, 0.3);
  margin-block-end: 2rem;
  background: rgba(35, 11, 11, 0.5);
  max-width: 70ch;
}
section.container ul li {
  padding-block: 0.5rem;
  transition: transform 200ms ease-in-out;
}
section.container ul li:hover {
  background-color: rgba(19, 6, 119, 0.7);
  border-radius: 1rem;
  box-shadow: 0.5rem 0.3rem 0.3rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

/*Steps to contribute*/
ol li {
  padding: 1rem;
}
ol li::before {
  content: "✦";
}

/*Footer*/
.page-footer {
  background: rgba(26, 7, 7, 0.9);
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
  padding: 0.5rem;
}
.page-footer p {
  padding: 0;
  margin-block: 0.7rem;
  max-width: 100vw;
}
.page-footer ul {
  width: fit-content;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 10px;
}
.page-footer ul li {
  padding-inline-start: 1rem;
  padding-inline-end: 2rem;
}
.page-footer ul a {
  text-align: center;
}

/*Media Queries*/
@media (prefers-reduced-motion: reduce) {
  a:hover {
    transform: scale(1) rotate(0);
    color: rgb(242, 239, 223);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  li:hover {
    transform: scale(1) rotate(0);
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
  *, *::before, *::after {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
  }
}
