@charset "UTF-8";
/* variables */
@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* functions */
/*Background Colors*/
/*Link Colors*/
/* Fonts */
/*Font Size*/
/* main */
/*Backgrounds*/
body {
  background-image: radial-gradient(circle at 67% 83%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(46, 11, 11, 0.25) 0%, rgba(46, 11, 11, 0.25) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(38, 135, 130), rgb(38, 7, 90));
}

header {
  background-image: radial-gradient(circle at 67% 83%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(69, 7, 7, 0.13) 0%, rgba(69, 7, 7, 0.13) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(42, 219, 205), rgb(51, 13, 112));
}

/*Spacing*/
body {
  margin-block-start: clamp(2rem, 0.545rem + 7.273vw, 6rem);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

body > * {
  padding-inline: clamp(1rem, -0.818rem + 9.091vw, 6rem);
}

p {
  padding-block-end: clamp(1.2rem, 0.526rem + 3.368vw, 2rem);
}

header {
  grid-column-start: 1;
  grid-column-end: 4;
}

nav {
  grid-column-start: 1;
  grid-column-end: 4;
}

main, aside, footer {
  grid-column-start: 1;
  grid-column-end: 4;
}

p, li {
  max-width: 60ch;
}

h1 {
  margin-block-end: 3rem;
}

header .container {
  display: flex;
  flex-direction: column;
}

/* Images */
svg {
  max-width: 1rem;
}

/* Colors */
body {
  color: rgb(242, 239, 223);
}

/*Typography*/
body {
  font-family: "Figtree", sans-serif;
  line-height: 1.6em;
  font-size: 1.1rem;
}

h1 {
  font-family: "Galada", cursive;
  font-size: clamp(6rem, 3.091rem + 14.545vw, 14rem);
  line-height: 0.7em;
  letter-spacing: -0.3rem;
  text-align: end;
  text-shadow: 4px 3px 0px rgb(26, 7, 7), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

header h2 {
  text-align: end;
  border: none;
  max-width: 100%;
  padding-block-end: clamp(1rem, -0.091rem + 5.455vw, 4rem);
}
header p {
  font-size: 1.2rem;
  text-align: end;
  max-width: 100%;
}

h2, h3, h4 {
  font-family: "Courgette", cursive;
  line-height: 1em;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: clamp(2rem, 1.158rem + 4.211vw, 3rem);
  max-width: 50rem;
  text-shadow: 3px 2px 0px rgb(26, 7, 7), 5px 3px 0px rgba(0, 0, 0, 0.15);
}

h3, h4 {
  font-size: clamp(1.7rem, 1.279rem + 2.105vw, 2.2rem);
  margin-block: 0.5rem;
}

header .container a, header .container span, header .container p {
  font-size: 1.5rem;
}

/* Nav */
nav {
  margin-block: 3rem;
  border: 1px solid white;
}
nav ul {
  list-style: none;
  font-family: "Courgette", cursive;
  font-size: 2rem;
  text-align: center;
  padding: none;
}
nav ul li {
  display: inline-block;
  line-height: 1.1em;
  padding-block: 0.8rem;
}
nav ul li a:hover {
  background-color: rgba(35, 11, 11, 0.6);
  color: rgb(242, 239, 223);
  text-decoration: none;
}
nav ul li a:visited {
  color: rgb(242, 239, 223);
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  padding: 0.3rem;
  color: rgb(242, 239, 223);
}

/*Links*/
a {
  color: rgb(248, 252, 136);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: rgb(124, 243, 247);
  text-decoration: underline;
}

a:visited {
  color: rgb(254, 221, 156);
}

a:active {
  color: rgb(248, 252, 136);
}

/* Skip Link */
.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.container > a {
  text-align: end;
}

/* Images */
h1::before {
  content: "✨";
  font-size: calc(clamp(5.5rem, clamp(5.5rem, 2rem + 13vw, 10em), 20vh) - 2rem);
}

/*Grid: Modern CSS Spotlight*/
section.container ul {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}
