/* variables */
@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Galada&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* functions */
/* Fonts */
/* main */
/*Backgrounds*/
body {
  background-image: radial-gradient(circle at 67% 83%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 1%, transparent 1%, transparent 5%, transparent 5%, transparent 100%), radial-gradient(circle at 24% 80%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 27%, transparent 27%, transparent 63%, transparent 63%, transparent 100%), radial-gradient(circle at 23% 5%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 26%, transparent 26%, transparent 82%, transparent 82%, transparent 100%), radial-gradient(circle at 21% 11%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 35%, transparent 35%, transparent 45%, transparent 45%, transparent 100%), radial-gradient(circle at 10% 11%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 21%, transparent 21%, transparent 81%, transparent 81%, transparent 100%), radial-gradient(circle at 19% 61%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 20%, transparent 20%, transparent 61%, transparent 61%, transparent 100%), radial-gradient(circle at 13% 77%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 63%, transparent 63%, transparent 72%, transparent 72%, transparent 100%), radial-gradient(circle at 30% 93%, rgba(71, 40, 40, 0.1) 0%, rgba(71, 40, 40, 0.1) 33%, transparent 33%, transparent 82%, transparent 82%, transparent 100%), linear-gradient(90deg, rgb(22, 207, 188), rgb(45, 26, 133));
}

/*Sections: Uniform Styling*/
article, footer, aside {
  background: rgba(35, 11, 11, 0.3);
  margin-block-end: 2rem;
  padding: 1rem;
  margin-inline: auto;
}

/*Spacing*/
body {
  max-width: 50rem;
  margin-inline: auto;
  margin-block-start: clamp(0.5rem, -0.214rem + 3.571vw, 3rem);
}

header {
  padding-inline: clamp(0.7rem, -0.395rem + 5.474vw, 2rem);
}

p, li {
  max-width: 60ch;
}

p {
  padding-block-end: clamp(1.2rem, 0.526rem + 3.368vw, 2rem);
}

h1 {
  margin-block-end: 3rem;
}

h2 {
  margin-block: 1rem;
  border-bottom: 2px solid rgb(212, 243, 226);
}

/* Images */
svg {
  max-width: 1rem;
}

/* Colors */
body {
  color: rgb(212, 243, 226);
}

/*Typography*/
body {
  font-family: "Figtree", sans-serif;
  line-height: 1.5em;
}

h1 {
  font-family: "Galada", cursive;
  font-size: clamp(5.5rem, 2rem + 13vw, 10em);
  line-height: 0.9em;
  letter-spacing: -0.3rem;
  padding-block-start: 3rem;
  text-align: end;
  text-shadow: 4px 3px 0px rgb(26, 7, 7), 9px 8px 0px rgba(0, 0, 0, 0.15);
}

header h2 {
  text-align: end;
  border: none;
}
header p {
  font-size: 1.2rem;
  text-align: end;
}

h2, h3, h4 {
  font-family: "Courgette", cursive;
  line-height: 1em;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: clamp(2rem, 1.158rem + 4.211vw, 3rem);
  max-width: 50rem;
}

h3, h4 {
  font-size: clamp(1.7rem, 1.279rem + 2.105vw, 2.2rem);
  margin-block: 0.5rem;
}

/* Nav */
nav {
  margin-block: 2rem;
  background: rgba(35, 11, 11, 0.3);
  border: 1px solid white;
}
nav ul {
  list-style: none;
  font-family: "Galada", cursive;
  font-size: 2rem;
  text-align: center;
  padding: none;
}
nav ul li {
  display: inline-block;
  line-height: 1.1em;
  padding-block: 0.8rem;
}
nav ul li a:hover {
  background-color: rgba(13, 11, 29, 0.4);
  color: rgb(126, 237, 226);
}
nav ul li a {
  text-decoration: none;
  padding: 0.3rem;
  color: rgb(212, 243, 226);
}

/* Skip Link */
.skip-link {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}

.skip-link:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/*Footer*/
